/* header */

.hero-image {
    background-image: url("https://i.udemycdn.com/course/750x422/392584_6432_2.jpg");
    height: 30%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(34, 32, 32);
}

#headerText {
    margin: 1px;
    margin-bottom: 10px;
}

#testText {
    margin: 1px;
}

.hero-text button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 5px 5px;
    color: black;
    background-color: rgb(13, 240, 240);
    text-align: center;
    cursor: pointer;
}

.hero-text button:hover {
    background-color: rgb(255, 238, 1);
    color: black;
}


/* This is the Body CSS */

body,
html {
    height: 100%;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0 auto;
    margin-left: 0 auto;
    margin-right: 0 auto;
    /* background-image: url('https://i.redd.it/mh1f9g80t4q01.jpg'); */
    /* background-size: 100%; */
    background-color: rgb(252, 252, 252);
}


/* Cards Grid */

.flex-contaner {
    display: flex;
    justify-content: center;
}


/* Image Cover */

.imageCover {
    position: relative;
}

.imageCover::before {
    content: "";
    top: 0;
    left: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 1;
}


/* Image CSS */

img {
    height: 60px;
    width: 60px;
}

.grid {
    margin-left: 4%;
    margin-right: 5%;
    margin-top: 15%;
    width: 80vw;
    max-width: 60vh;
    height: 80vw;
    max-height: 60vh;
    font-size: 1rem;
    text-align: center;
}

.row {
    display: flex;
}

.box {
    background: rgb(36, 216, 216);
    margin: 5px;
    color: white;
    font-weight: bold;
    flex: 1 0 auto;
    position: relative;
}

.box:after {
    content: "";
    float: left;
    display: block;
    padding-top: 100%;
}

.box .inner {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* Footer CSS */

#footer {
    background-color: rgb(188, 89, 197);
    height: 40px;
    text-align: center;
    height: 100px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.button {
    background: none;
    border: 2px solid black;
    padding: 15px 30px;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.2s;
    margin-top: 30px;
}

.button:hover {
    border: 5px solid white;
    color: white;
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.75);
}